@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    height: 8px !important;
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff3b;
}

.font-title {
    font-family: 'Signika Negative', sans-serif;
}